<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.developer.lynx.damapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySplashScreen"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.ActivityLatihan"
            android:label="@string/title_activity_latihan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.ActivityTantangan"
            android:label="@string/title_activity_tantangan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.ActivityAbout"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.latihan.ActivityShowLatihan"
            android:label="@string/title_activity_show_latihan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.tantangan.mulai.ActivityShowTantangan"
            android:label="@string/title_activity_show_tantangan"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.tantangan.result.ActivityResultTantangan"
            android:label="@string/title_activity_history_latihan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.tantangan.history.ActivityHistoryTantangan"
            android:label="@string/title_activity_history_tantangan"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>